:root{
    --text-color:rgb(135, 135, 135);
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

.weather-app-wrapper{
    max-width: 600px;
    margin: 30px auto;
}

.weather-app{
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 10px;
}

.overview{
    margin-bottom:20px;
}

h1{
    color:var(--text-color);
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    
}

li:first-letter{
    text-transform: capitalize;
}

.weather-img{
    position: relative;
    top: -25px;
    margin-right: 5px;
    height: 120px;
    width: 120px;
}

strong{
    color:rgb(33,33,33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.units{
    position: relative;
    font-size: 16px;
    top: -34px;
}

a{
    text-decoration: none;
}

.temperature{
    color:rgb(33, 33, 33) ;
}

.temperature:hover{
    cursor:default;
}

a.active{
    color:blue;
}

a.active:hover {
    cursor: pointer;
}

.weather-forecast{
    text-align: center;
    color: #000;
}

.forecast-date{
    font-size: 16px;
    opacity: 0.5;
}

.forecast-img{
    width: 60px;
    height: 60px;
}

.forecast-min{
    opacity: 0.5;
}

.forecast-temperature{
    font-size: 13px;
}

